extends layout

block additionalCSS
  link(href='/css/qa/qa.css', rel='stylesheet', type='text/css', media='screen')
block renderBody
  -function getDataString(date){
    -return momentlib(date).fromNow();
  -}
  mixin dateString(date)
    | [ICON] #{momentlib(date).fromNow()}

  include snippets/breadcrum
  +breadcrumb(breadcrumTitle, pathToHere)
  .divide30
  .container.main-qa
    .row
      .col-xs-3.col-xs-offset-1
        a.btn.btn.btn-theme-dark(href="/qa/posting") 
          i.fa.fa-plus
          | NEW QUESTION
      .col-xs-8.tabs
        if !sort
          - sort = "newest"
        ul.nav.nav-tabs
          li(role='presentation' class='#{(sort==="newest")?"active":""}')
            a(href='/qa?sort=newest') newest
          li(role='presentation' class='#{(sort==="frequent")?"active":""}')
            a(href='/qa?sort=frequent') frequent
          li(role='presentation' class='#{(sort==="votes")?"active":""}')
            a(href='/qa?sort=votes') votes
          li(role='presentation' class='#{(sort==="active")?"active":""}')
            a(href='/qa?sort=active') active
          li(role='presentation' class='#{(sort==="unanswered")?"active":""}')
            a(href='/qa?sort=unanswered') unanswered
    //- .row.qa-post-title-header
      .col-sm-1
      .col-sm-6
        strong TOPICS
      .col-sm-1 
        strong REPLIES
      .col-sm-1
        strong VIEWS
      .col-sm-3
        strong LAST REPLY
    hr
    .qa-post-titles
      //- posts is from controller
      each post, index in posts
        if index % 2 === 1
          .row.qa-post-title-row.even-numbered-post-row
            .col-sm-1.col-sm-offset-1.text-center
              .votes-number=post.votes
              .votes-text votes
              .divide10
              .answers-number=post.replied_post
              .answers-text answers
              .divide10
              .views-combination
                span.views-number=post.post_viewed
                span.views-text  views

            .col-sm-7
              .row
                .col-xs-12
                  a.post-title(href="/qa/question?qid=#{post.post_id}") #{post.post_title} 
              .row
                .col-xs-12.text-muted Preview Text should appear here, I need to add one instance method getPreviwText() for Post model ...

            .col-sm-3
              .row
                .col-xs-3 [ICON]
                .col-xs-9
                  .row
                    .col-xs-12
                      | #{post.poster.displayName()}
                  .row
                    .col-xs-12
                      | posted #{getDataString(post.post_time)}
        else
          .row.qa-post-title-row
            .col-sm-1.col-sm-offset-1.text-center
              .votes-number=post.votes
              .votes-text votes
              .divide10
              .answers-number=post.replied_post
              .answers-text answers
              .views-combination
              .divide10
                span.views-number=post.post_viewed
                span.views-text  views
            .col-sm-7
              .row
                .col-xs-12 
                  a.post-title(href="/qa/question?qid=#{post.post_id}") #{post.post_title} 
              .row
                .col-xs-12.text-muted Preview Text should appear here, I need to add one instance method getPreviwText() for Post model ...


            .col-sm-3
              .row
                .col-xs-3 [ICON]
                .col-xs-9
                  .row
                    .col-xs-12
                      | #{post.poster.displayName()}
                  .row
                    .col-xs-12
                      | posted #{getDataString(post.post_time)}


    .divide10
    hr
    //- put pagination down
    .row
      .col-xs-10.col-xs-offset-1
        div
          ul.pagination
            li
              a(href='#') «
            li.active
              a(href='#') 1
            li
              a(href='#') 2
            li
              a(href='#') 3
            li
              a(href='#') 4
            li
              a(href='#') 5
            li
              a(href='#') »
    //- put filter row here

    //- .row.qa-post-title-filter
      .col-sm-8.col-sm-offset-1
        form(method='post')
          | Display topics from previous:
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | all
              span.caret
            ul.dropdown-menu
              li
                a(href='#') All
              li
                a(href='#') 1 day ago
              li
                a(href='#') 1 week ago
          |&nbsp;&nbsp; Sort by
          .btn-group
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Post time
              span.caret
            ul.dropdown-menu
              li
                a(href='#') Post time
              li
                a(href='#') Views
              li
                a(href='#') Replies
              li: a(href = "#") Subjects
          |&nbsp;&nbsp;
          .btn-group.marginRight10
            button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
              | Descending
              span.caret
            ul.dropdown-menu
              li: a(href = "#") Descending
              li: a(href = "#") Ascending




          // div.btn-group ends
          button.btn.btn-primary(type='button', id="filter-go-btn") Go
  .divide60



block additionalJS