extends layout

block additionalCSS
  link(href='/css/qa/qa.css', rel='stylesheet', type='text/css', media='screen')
block renderBody
  -function getDataString(date){
    -return momentlib(date).fromNow();
  -}
  mixin dateString(date)
    | [ICON] #{momentlib(date).fromNow()}

  include snippets/breadcrum
  +breadcrumb(breadcrumTitle, pathToHere)
  -function getPagedURL (paging_condition, page){
    - if (page && page <= Math.ceil(paging_condition.count / paging_condition.limit)) {paging_condition.skip = (page -1) * paging_condition.limit; }
    -var str = Object.keys(paging_condition).map(function(key) {
    -    return key + '=' + paging_condition[key];
    -}).join('&');
    -return '/qa?'+str;
  -}
  mixin paging(paging_condition)
    //- paging_nation is like following
    //- {
    //-   sort: newest,
    //-   skip: 0,
    //-   limit: 15,
    //-   count:23
    //- }
    - var totalpage = Math.ceil(paging_condition.count / paging_condition.limit)
    - var currentpage = ( paging_condition.skip  / paging_condition.limit ) + 1 
    div
      ul.pagination
        if (currentpage > 1)
          li
            a(href=getPagedURL(paging_condition, currentpage-1)) «  
        else
          li.disabled 
            a «  
        if (currentpage >4)
          li
            a(href=getPagedURL(paging_condition,1)) 1
          li.disabled
            a ...
        if (currentpage >2)
          li
            a(href=getPagedURL(paging_condition, currentpage-1))=currentpage-2  
        if (currentpage >1)
          li
            a(href=getPagedURL(paging_condition, currentpage-1))=currentpage-1  
        li.active
          a(href=getPagedURL(paging_condition))=currentpage
        if (totalpage - currentpage >0)
          li
            a(href=getPagedURL(paging_condition, currentpage+1))=currentpage+1
        if (totalpage - currentpage >1)
          li
            a(href=getPagedURL(paging_condition, currentpage+2))=currentpage+2
        if (totalpage - currentpage >3)
          li.disabled
            a ...
          li
            a(href=getPagedURL(paging_condition, totalpage))=totalpage
        if (currentpage < totalpage)
          li
            a(href=getPagedURL(paging_condition, currentpage+1)) »
        else
          li.disabled 
            a »

  .divide30
    //- for debugging purpose
    //- p=paging_condition.sort
    //- p=paging_condition.skip
    //- p=paging_condition.limit
    //- p=paging_condition.count
  .container.main-qa
    .row
      .col-xs-3.col-xs-offset-1
        a.btn.btn.btn-theme-dark(href="/qa/posting") 
          i.fa.fa-plus
          | NEW QUESTION
      .col-xs-8.tabs
        if !(paging_condition.sort)
          - paging_condition.sort = "newest"
        ul.nav.nav-tabs
          li(role='presentation' class='#{(paging_condition.sort==="newest")?"active":""}')
            a(href='/qa?sort=newest') newest
          li(role='presentation' class='#{(paging_condition.sort==="frequent")?"active":""}')
            a(href='/qa?sort=frequent') frequent
          li(role='presentation' class='#{(paging_condition.sort==="votes")?"active":""}')
            a(href='/qa?sort=votes') votes
          li(role='presentation' class='#{(paging_condition.sort==="active")?"active":""}')
            a(href='/qa?sort=active') active
          li(role='presentation' class='#{(paging_condition.sort==="unanswered")?"active":""}')
            a(href='/qa?sort=unanswered') unanswered
    hr
    .qa-post-titles
      //- posts is from controller
      if posts.length === 0
        .row
          .col-sm-11.col-sm-offset-1
            h3 No question fits the filter
      else
        each post, index in posts
          if index % 2 === 1
            .row.qa-post-title-row.even-numbered-post-row
              .col-sm-1.col-sm-offset-1.text-center
                .votes-number=post.votes
                .votes-text votes
                .divide10
                .answers-number=post.replied_post
                .answers-text answers
                .divide10
                .views-combination
                  span.views-number=post.post_viewed
                  span.views-text  views

              .col-sm-7
                .row
                  .col-xs-12
                    a.post-title(href="/qa/question?qid=#{post.post_id}") #{post.post_title} 
                .row
                  .col-xs-12.text-muted=post.preivew()

              .col-sm-3
                .row
                  .col-xs-3 [ICON]
                  .col-xs-9
                    .row
                      .col-xs-12
                        | #{post.poster.displayName()}
                    .row
                      .col-xs-12
                        | posted #{getDataString(post.post_time)}
          else
            .row.qa-post-title-row
              .col-sm-1.col-sm-offset-1.text-center
                .votes-number=post.votes
                .votes-text votes
                .divide10
                .answers-number=post.replied_post
                .answers-text answers
                .views-combination
                .divide10
                  span.views-number=post.post_viewed
                  span.views-text  views
              .col-sm-7
                .row
                  .col-xs-12 
                    a.post-title(href="/qa/question?qid=#{post.post_id}") #{post.post_title} 
                .row
                  .col-xs-12.text-muted=post.preivew()

              .col-sm-3
                .row
                  .col-xs-3 [ICON]
                  .col-xs-9
                    .row
                      .col-xs-12
                        | #{post.poster.displayName()}
                    .row
                      .col-xs-12
                        | posted #{getDataString(post.post_time)}


    .divide10
    hr
    //- put pagination down
    .row
      .col-xs-10.col-xs-offset-1
        +paging(paging_condition)
  
  .divide60



block additionalJS