extends layout

block additionalCSS
  link(href='/css/qa/qa.css', rel='stylesheet', type='text/css', media='screen')
  link(href='/wysihtml/examples/css/stylesheet.css', rel='stylesheet', type='text/css', media='screen')

block renderBody
  mixin userCatString(usercat)
    case usercat 
      when 1
        | admin
      when 2
        | user
      when 3
        | premium user
      default
        | unknown user category

  mixin dateString(date)
    | #{momentlib(date).fromNow()}
  mixin dateStringISO(date)
    | #{momentlib(date).format("MMM Do YYYY")}
  //- breadcrumTitle:target_post.post_title,
  //- pathToHere:"qa / question?qid="+post_id.toString(),
  //- title: 'QA QUESTION | FASIDS',
  //- activePage:'Questions',
  //- isAuthenticated: req.isAuthenticated(),
  //- user: processReqUser(req.user),
  //- main_post: target_post,
  //- replies:replies  //- all mongoose doc instances
  include snippets/breadcrum
  .container.posts-regarding-question
    .divide20
    .row.post-row
      .col-xs-1.text-center.votes-container
        div
          i.fa.fa-caret-up.fa-2(data-target-post-id="#{main_post.post_id}")
        div
          span.votes-number-container=main_post.votes
        div
          i.fa.fa-caret-down.fa-2(data-target-post-id="#{main_post.post_id}")
        .star-div
          i.fa.fa-star.fa-2
      .col-xs-9
        .content!=main_post.content
        .post-signature
          .ask-time
            |asked 
            +dateStringISO(main_post.post_time)
          .user-name #{main_post.poster_fullname}
      .col-xs-2.post-status
        .row
          .col-xs-4.text-muted asked
          .col-xs-8
            +dateString(main_post.post_time)
        .row
          .col-xs-4.text-muted viewed
          .col-xs-8
            | #{main_post.post_viewed} times
        .row
          .col-xs-4.text-muted active
          .col-xs-8 today

    
    //- reply is one Post object, 
    each reply, index in replies
      .row.post-row
        .col-xs-1.text-center.votes-container
          div
            i.fa.fa-caret-up.fa-2(data-target-post-id="#{reply.post_id}")
          div
            span.votes-number-container=reply.votes
          div
            i.fa.fa-caret-down.fa-2(data-target-post-id="#{reply.post_id}")
          .star-div
            i.fa.fa-star.fa-2
        .col-xs-9
          .content!=reply.content
          .post-signature.answer-signature
            .ask-time
              |answered 
              +dateStringISO(reply.post_time)
            .user-name #{reply.poster_fullname}
        //- .col-xs-2.post-status
          .row
            .col-xs-4.text-muted asked
            .col-xs-8
              +dateString(reply.post_time)
          .row
            .col-xs-4.text-muted viewed
            .col-xs-8
              | #{reply.post_viewed} times
          .row
            .col-xs-4.text-muted active
            .col-xs-8 today


  .divide30
  if(isAuthenticated)
    .container
      .row.reply-editor-row
        .col-md-2
          | [user profile here]
        .col-md-10
          form(method="post", id='wysihtml-form')
            include snippets/fasids-editor-inner
            
            .divide15
            .row.reply-buttons-row
              .col-xs-12
                //- a.btn.border-black(href='#') Save draft
                a.btn.border-black(href='#') PREIVEW
                .btn.btn-theme-bg#wysihtml-submit SUBMIT
    .divide15







block additionalJS
  script(src="/wysihtml/dist/wysihtml5x-toolbar.min.js")
  script(src="/wysihtml/parser_rules/advanced_and_extended.js")
  if (isAuthenticated)
    script.
      var editor = new wysihtml5.Editor('editor', {
        toolbar: 'toolbar',
        parserRules:  wysihtml5ParserRules
      });
  script.
    $(document).ready(function(){
      $('#wysihtml-submit').click(function(){
        $('#content').val( $('#editor').html() );
        $('#wysihtml-form').submit();
      });
      $(".fa.fa-caret-up.fa-2,.fa.fa-caret-down.fa-2").click(function onClickUpVote(e){
        $this = $(this);
        $.ajax("/qa/vote", {
          data:{post_id:$this.data("target-post-id"), vote_score: $this.hasClass("fa-caret-up")?1:-1 },
          method: "GET",
          success: function (data, textStatus, jqXHR){
            $this.parent().parent().find(".votes-number-container").html( data.success);
          },
          error: function ( jqXHR, textStatus, errorThrown){
            console.error("error of vote ajax");
          }

        });
      })


    });