extends layout

block additionalCSS
  link(href='/css/qa/qa.css', rel='stylesheet', type='text/css', media='screen')
  link(href='/wysihtml/examples/css/stylesheet.css', rel='stylesheet', type='text/css', media='screen')

block renderBody
  mixin userCatString(usercat)
    case usercat 
      when 1
        | admin
      when 2
        | user
      when 3
        | premium user
      default
        | unknown user category

  mixin dateString(date)
    | [ICON] #{momentlib(date).fromNow()}
  //- breadcrumTitle:target_post.post_title,
  //- pathToHere:"qa / question?qid="+post_id.toString(),
  //- title: 'QA QUESTION | FASIDS',
  //- activePage:'Questions',
  //- isAuthenticated: req.isAuthenticated(),
  //- user: processReqUser(req.user),
  //- main_post: target_post,
  //- replies:replies  //- all mongoose doc instances
  include snippets/breadcrum
  .container.posts-regarding-question
    .divide20

    .row
      .col-xs-12
        a.btn.btn-theme-bg.margin-right-10(href='#') Post reply
        a.btn.btn-theme-dark(href='#') print
    

    //- for main_post
    .row.post-row
      .col-md-3.one-post-author-info-col
        .row
          .col-xs-12.one-post-displayname
            | #{main_post.poster_fullname}
        .row
          .col-xs-12.text-muted.one-post-usercat
            +userCatString(main_post.poster.usercat)

        .row
          .col-xs-12.one-post-userprofile
            | [user profile pic here]

      .col-md-9
        .row.one-post-time-number
          .col-xs-10
            +dateString(main_post.post_time)
          .col-xs-1
            | #1
        hr
        .row
          .col-xs-12.one-post-content-col!=main_post.content
    
    //- reply is one Post object, 
    each reply, index in replies
      .row.post-row
        .col-md-3.one-post-author-info-col
          .row
            .col-xs-12.one-post-displayname
              | #{reply.poster.displayName()}
          .row
            .col-xs-12.text-muted.one-post-usercat
              //- | #{reply.poster.usercat}
              +userCatString(reply.poster.usercat)

          .row
            .col-xs-12.one-post-userprofile
              | [user profile pic here]

        .col-md-9
          .row.one-post-time-number
            .col-xs-10
              +dateString(reply.post_time)
            .col-xs-1
              | ##{index+2}
          hr
          .row
            .col-xs-12.one-post-content-col!=reply.content

  .divide30
  if(isAuthenticated)
    .container
      .row.reply-editor-row
        .col-md-2
          | [user profile here]
        .col-md-10
          form(method="post", id='wysihtml-form')
            include snippets/fasids-editor-inner
            
            .divide15
            .row.reply-buttons-row
              .col-xs-12
                //- a.btn.border-black(href='#') Save draft
                a.btn.border-black(href='#') PREIVEW
                .btn.btn-theme-bg#wysihtml-submit SUBMIT
    .divide15







block additionalJS
  script(src="/wysihtml/dist/wysihtml5x-toolbar.min.js")
  script(src="/wysihtml/parser_rules/advanced_and_extended.js")
  script.
    var editor = new wysihtml5.Editor('editor', {
      toolbar: 'toolbar',
      parserRules:  wysihtml5ParserRules
    });

    $(document).ready(function(){
      $('#wysihtml-submit').click(function(){
        $('#content').val( $('#editor').html() );
        $('#wysihtml-form').submit();
      });
    });