.subnav-container
  .container
    .row
      .col-xs-12.subnav
        ul.list-inline
          li(class="#{active_section==='dashboard'?'active':''}")
            a(href="#{glblprefix}/users/dashboard") Dashboard
          li(class="#{active_section==='inbox'?'active':''}")
            a(href="#") Inbox
          li(class="#{active_section==='geojson_polygons'?'active':''}") 
            a(href="#") Your Geojson Polygons
          li(class="#{active_section==='account'?'active':''}")
            a(href="#{glblprefix}/users/account/basic_info") Account