extends ../layout

block additionalCSS
  link(href='/node/fasids/css/pace_loadingbar.css', rel='stylesheet', type='text/css', media='screen')  
  link(href="/node/fasids/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  //I wrote the less into homeownermng.less just because I do not want create more styling file for this
  link(href='/node/fasids/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')  

block renderBody
  .mapcover#mapcover
    .mapcover-map#mapcover-map
    .mc-static2mapcontainer.panel.panel-default#genus-species-panel
      .panel-body.genus-species-index
        .row
          .col-xs-2
            b Index
            ul
              - var init_char_list = []
              each obj in genus_species
                if (init_char_list.indexOf(obj.genus[0])=== -1 )
                  - init_char_list.push(obj.genus[0])
              - var index = 0
              while index < init_char_list.length
                li.initial-character(class="character-#{init_char_list[index]}")=init_char_list[index]
                - index = index + 1
          .col-xs-5.genus-list
            b Genus
            ul.genus-ul
              each obj in genus_species
                li(class="hidden genus-inichar-#{obj.genus.charAt(0)} #{obj.genus}" data-genus=obj.genus )=obj.genus+" (" +obj.species_array.length + ")"
            div.at-bottom-right.collapse-button
              i.fa.fa-caret-left.fa-lg
              span collapse
          .col-xs-5.species-list
            b Species
            each obj in genus_species
              ul(class="hidden species-list-#{obj.genus}")
                each specie in obj.species_array
                  li(class=specie.replace(" ", "SpacE"))=specie
            div.at-bottom-right.collapse-button
              i.fa.fa-caret-left.fa-lg
              span collapse


  .hidden
    meta(name="genus-species-index", content="#{JSON.stringify( genus_species)}")


block additionalJS
  script#info-window-template(type="text/template").
    <div class="infowindow-content">
      <% var county = county? county : "unspecified"; var genus = genus? genus : "unspecified";var specie = specie? specie : "unspecified"; var observations = observations? "Yes" : "No or no data";%>
      County: <%=county%>
      <br/>
      Genus: <%=genus%>
      <br/>
      Specie: <%=specie%>
      <br/>
      Is Observed: <%=observations%>
    </div>
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="/node/fasids/underscorejs/underscore-min.js")
  script(src="/node/fasids/js/backbone-min.js")
  script(src="/node/fasids/assets/pace_pageloading/pace.min.js")
  // mapcover depends on backbone.js and underscore.js
  script(src="/node/fasids/assets/mapcover/js/mapcover.js")
  script(src="/node/fasids/js/landscape/antdistribution.js" )