extends ../layout

block additionalCSS
  link(href="/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  //I wrote the less into homeownermng.less just because I do not want create more styling file for this
  link(href='/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')  

block renderBody
  .mapcover#mapcover
    .mapcover-map#mapcover-map
    .mc-static2mapcontainer.panel.panel-default#genus-species-panel
      .panel-body.genus-species-index
        .row
          .col-xs-2

            ul
              li Index
              - var init_char_list = []
              each obj in genus_species
                if (init_char_list.indexOf(obj.genus[0])=== -1 )
                  - init_char_list.push(obj.genus[0])
              - var charcode = 0
              while charcode < init_char_list.length
                li.initial-character= init_char_list[charcode]
                - charcode = charcode + 1
          .col-xs-5.genus-list
            ul.genus-ul
              li Genus
              each obj in genus_species
                li(class="hidden genus-inichar-#{obj.genus.charAt(0)}")=obj.genus
          .col-xs-5.species-list
            | Species
            each obj in genus_species
              ul(class="hidden species-list-#{obj.genus}")
                each specie in obj.species_array
                  li=specie


  .hidden
    meta(name="genus-species-index", content="#{JSON.stringify( genus_species)}")


block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="/underscorejs/underscore-min.js")
  script(src="/js/backbone-min.js")
  // mapcover depends on backbone.js and underscore.js
  script(src="/assets/mapcover/js/mapcover.js")
  script(src="/js/landscape/antdistribution.js" )