extends ../layout

block additionalCSS

block renderBody
  //- put mixins here
  mixin tabledatarow(product)
    tr
      td
        a(href=product.product_url, target="_blank")
          img.img-thumbnail( src=product.img_small_url alt="product_img")
      //- td= product.product_id
      td= product.product_name
      td= product.manufacturer
      td= product.usage
      if product.coverage
        - product.usage = product.usage.toLowerCase();
        case product.usage
          when "imt"
            td= product.coverage + " mnds"
          when "broadcast"
            td!= product.coverage + " m<sup>2</sup>"
          when "line"
            td= product.coverage + " m"
          default
            td="unknown unit due to unknown usage"
      else
        td= "No Data"
  include ../snippets/breadcrum
  .divide30
  .container
    .row
      .col-xs-12
        table.table.table-striped.table-bordered
          thead
            tr
              th Product Page
              //- th Product ID
              th Product Name
              th Brand
              th Usage
              th Coverage
          tbody
            each product, index in products
              +tabledatarow(product)

block additionalJS