extends ../layout

block additionalCSS
  link(href="#{glblprefix}/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  link(href='#{glblprefix}/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')
  script(src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js")
block renderBody
  //-include ../snippets/breadcrum
  .mapcover#mapcover
    .mapcover-map#mapcover-map
    .mc-static2mapcontainer.panel#map-geosearch
      .row.search-row
        .col-xs-12
          .input-group
            //- span.input-group-addon Search
            input.form-control#map-input-geosearch(type='text', placeholder='Search FASIDS using address, zipcode...')
            span.input-group-btn
              //- button.btn#map-input-geosearch-btn(data-toggle="tooltip", data-placement="bottom" ,title="Search")
              button.btn#map-input-geosearch-btn()
                span.fa.fa-search()
        .col-xs-12.errormessage-container.hidden
          .alert-danger.alert
            button.close(type='button', data-dismiss='alert') ×
            | Error Message.

    .mc-static2mapcontainer.panel#map-tools-box
      .row
        .col-xs-12 
          if page_status.model_op === 'create'
            span.btn.btn-default#map-tool-area-pointer(data-operation = "map_tool_area_drawing")
              //- .fa.fa-mouse-pointer
              | Draw Polygon
          else if page_status.model_op === 'patch'
            span.btn.btn-default.fa.fa-floppy-o.fa-lg#map-tool-save(data-operation = "map_tool_save")
              //- | Save
      .row
        .col-xs-12
          span.btn.btn-default#map-tool-hole(data-operation = "map_tool_holing") Remove Area
      .row
        .col-xs-12
          span.btn.btn-default#map-tool-editpolygon(data-operation="map_tool_editpolygon") Edit shape
      .row
        .col-xs-12
          span.btn.btn-default#map-tool-setproperties(data-operation="map_tool_setproperties") Set Treatment
      .row
        .col-xs-12
          if page_status.model_op === "create"
            span.btn.btn-default#map-tool-genresult(data-operation="map_tool_genresult") Save &amp; See Result
          else if page_status.model_op === "patch"
            span.btn.btn-default#map-tool-genresult(data-operation="map_tool_genresult") See Result

      .row
        .col-xs-12
          span.btn.btn-default#map-tool-cancel cancel
  //- .modal-container(ng-app="preparationModal", ng-controller="preparationModalCtrl")
  .modal-container
    #purpose-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
      .modal-dialog(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
            h4#myModalLabel.modal-title {{title}}
          .modal-body
            form#purpose
              div
                b Land Use Type
              div
                label.radio-inline
                  input#housebuilding-radio(type='radio', name='landusage', value='housebuilding')
                  |  House &amp; Building
                label.radio-inline
                  input#lawnturf-radio(type='radio', name='landusage', value='lawnturf')
                  |  Lawn &amp; Turf
                label.radio-inline
                  input#vegetablegarden-radio(type='radio', name='landusage', value='vegetablegarden')
                  |  Vegetable Garden
              .divide15
              div 
                b Treatment Type
              div
                label.radio-inline
                  input#imt-radio(type='radio', name='treatment', value='imt')
                  |  Individual Mound Treatment
                label.radio-inline
                  input#broadcast-radio(type='radio', name='treatment', value='broadcast')
                  |  Broadcast Baits
              .divide15
              .row
                .col-xs-5
                  .form-group
                    label(for='mound-density-input') Mound Density
                    .input-group
                      input#mound-density-input.form-control(type='number', name='mound_density', placeholder='Put mound density here')
                      .input-group-addon
                        | ft
                        sup 2
                  .form-group
                    label(for='mound-number-input') Mound Number
                    .input-group
                      input#mound-number-input.form-control(type='number', name='mound_number', placeholder='Put estimated mound number here')
                      .input-group-addon
                        | mds
                  .form-group
                    label(for='polygon-name') Polygon Name
                    input#polygon-name.form-control(type='text', name='polygon_name', placeholder='The polygon name')

                .col-xs-7
                  .form-group
                    label(for='polygon-address') Polygon Address
                    input#polygon-address.form-control(type='text', name='address', placeholder='The address where the polygon is located')

                  .form-group
                    label(for='polygon-address') Notes
                    textarea#polygon-address.form-control( name="notes", row="4" ,placeholder='Brief notes about this polygon')
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary#save-prepared-treatment(type='button') Finish Preparation


  .modal.fade(tabindex='-1', role='dialog', id='signin-required-modal')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
          h4.modal-title Sign in needed 
        .modal-body
          p Please sign in at right-top corner before using landscape management.
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close


  .hidden
    form#treatment(target="_blank",action="#{glblprefix}/landscape/treatment", method="post")
      input#geojson(type='text', name="geojson")
    //- patch_url is from index.js: router     route : GET /landscape/homeownermng/:geojson_id
    form#patch( action="#{patch_url}", method="post")
      input(type="text", name="geojson")
    // This is used to
    meta(name="page_status", content="#{JSON.stringify(page_status)}")
    meta(name="target-polygon", content="#{JSON.stringify(geojson)}")




block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="#{glblprefix}/underscorejs/underscore-min.js")
  script(src="#{glblprefix}/js/backbone-min.js")
  // mapcover depends on backbone.js and underscore.js
  script(src="#{glblprefix}/assets/mapcover/js/mapcover.js")
  script(src="#{glblprefix}/js/landscape/DeleteMenu.js")
  script(src="#{glblprefix}/js/landscape/homeownermng.js" , data-glblprefix=glblprefix, id="homeownermng-src")

