extends ../layout

block additionalCSS
  link(href="#{glblprefix}/assets/mapcover/css/mapcover.css" ,rel='stylesheet', type='text/css', media='screen')
  link(href='#{glblprefix}/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')

  // This is used to indicate current page status, such as whether user logged in or not
  meta(name="page_status", content="#{JSON.stringify(page_status)}")
  // This is used to retrieve target polygon, when user click their polygon in their user profile
  meta(name="target-polygon", content="#{JSON.stringify(geojson)}")

block renderBody
  div(ng-app="polygonManagerApp" ng-controller="pmaDefaultCtrl")
    .mapcover#mapcover
      .mapcover-map#mapcover-map(ng-non-bindable)
      .mc-static2mapcontainer.panel#map-geosearch
        .row.search-row
          .col-xs-12
            .input-group
              //- span.input-group-addon Search
              input.form-control#map-input-geosearch(type='text', placeholder='Search FASIDS using address, zipcode...')
              span.input-group-btn
                //- button.btn#map-input-geosearch-btn(data-toggle="tooltip", data-placement="bottom" ,title="Search")
                button.btn#map-input-geosearch-btn()
                  span.fa.fa-search()
          .col-xs-12.errormessage-container.hidden
            .alert-danger.alert
              button.close(type='button', data-dismiss='alert') ×
              | Error Message.

      .mc-static2mapcontainer.panel#map-tools-box(ng-controller="pmaToolPanelCtrl")
        .row
          .col-xs-12
            span.btn.btn-default Instructions
        .row
          .col-xs-12 
              span.btn.btn-default(tool-button target-status="polygondrawing") Draw Polygon
        .row
          .col-xs-12 
              span.btn.btn-default(tool-button target-status="arearemoving") Remove Area
        .row
          .col-xs-12
            span.btn.btn-default(tool-button target-status="shapeediting") Edit shape
        .row
          .col-xs-12
            span.btn.btn-default(tool-button target-status="treatmentsetting") Set Treatment
        .row
          .col-xs-12
            span.btn.btn-default(tool-button target-status="productlisting") Product List
        .row
          .col-xs-12
            span.btn.btn-default(tool-button target-status="resetting") cancel
    .modal-container(ng-controller="pmaModalsCtrl")
      #treatment-modal.modal(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
        //- class "modal-xl" is introduced by Bowei, refer _basic.scss please
        .modal-dialog.modal-xl(role='document')
          .modal-content
            .modal-header
              button.close(type='button', data-dismiss='modal', aria-label='Close',ng-click="saveTreatmentAndPolygonLocally()")
                span(aria-hidden='true') ×
              h4.modal-title Edit treatment properties
            .modal-body
              form.form-horizontal(novalidate, name="treatmentForm")
                .form-group.row
                  label.col-sm-3.control-label.text-right Type of Use of the land
                  .col-sm-4
                    select.form-control(ng-model="treatment.type_of_use", ng-options="typeOfUseOption for typeOfUseOption in optionsForTypeOfUse", required)
                      option(value="") (Pick One Type of Use)
                .form-group.row
                  label.col-sm-3.control-label.text-right Control Strategy
                  .col-sm-4
                    select.form-control(ng-model="treatment.control_method", 
                    ng-options="optionOfControl.value as optionOfControl.optionText for optionOfControl in optionsForControlMethod", required)
                      option(value="") (Pick One Control Strategy)
                .form-group.row
                  label.col-sm-3.control-label.text-right 
                    | Product Usage
                    br 
                    | (Treatment strategy)
                  .col-sm-4
                    select.form-control(ng-model="treatment.usage", 
                    ng-options="optionOfUsage.value as optionOfUsage.optionText for optionOfUsage in optionsForUsage", required)
                      option(value="") (Pick One Product Usagge)
                .form-group.row(ng-if="treatment.usage === 'imt'")
                  label.col-sm-3.control-label.text-right(for='moundNumber') Mound Number
                  .col-sm-9
                    input#moundNumber.form-control(type="number", placeholder='Mound Number', ng-model="treatment.mound_number")
                .form-group.row
                  label.col-sm-3.control-label.text-right Additional Things
                  .col-sm-9
                    .checkbox
                      label
                        input(type='checkbox', ng-model="treatment.is_outdoor_land")
                        | Outdoor-use only product (might be unsafe for indoor use)
                    .checkbox
                      label
                        input(type='checkbox', ng-model="treatment.need_organic")
                        | Organic product
                    .checkbox
                      label
                        input(type='checkbox', ng-model="treatment.need_safe_for_pets")
                        | Safe-for-pet product

                .form-group.row
                  label.col-sm-3.control-label.text-right(for='polygonName') Name your polygon
                  .col-sm-9
                    input#polygonName.form-control(type='text', placeholder='Name of this polygon', ng-model="treatment.polygon_name", required)
                .form-group.row
                  label.col-sm-3.control-label.text-right(for='polygonAddress') Address
                  .col-sm-9
                    input#polygonAddress.form-control(type='text', placeholder='Address of this polygon', ng-model="treatment.address")
                .form-group.row
                  label.col-sm-3.control-label.text-right(for='polygonNotes') Notes
                  .col-sm-9
                    textarea#polygonNotes.form-control(rows="5", ng-model="treatment.notes")

            .modal-footer
              button.btn.btn-default(type='button', data-dismiss='modal') Close
              button.btn.btn-primary(type='button', ng-click="saveTreatmentAndPolygonToServer()", ng-disabled="!treatmentForm.$valid" ) Save Treatment to Server


    //- .modal.fade(tabindex='-1', role='dialog', id='signin-required-modal')
    //-   .modal-dialog
    //-     .modal-content
    //-       .modal-header
    //-         button.close(type='button', data-dismiss='modal', aria-label='Close')
    //-           span(aria-hidden='true') ×
    //-         h4.modal-title Sign in needed 
    //-       .modal-body
    //-         p 
    //-           | Please 
    //-           a(href="#{glblprefix}/users/signin?referral_url=#{glblprefix}/landscape/homeownermng") 
    //-             b sign in&nbsp;
    //-           | at right-top corner before using landscape management. If you are first-time user, please check 
    //-           a(href="#{glblprefix}/landscape/instructions", target="_blank") 
    //-            b instructions 
    //-           | for help.
    //-       .modal-footer
    //-         button.btn.btn-default(type='button', data-dismiss='modal') Close


    .hidden(ng-non-bindable)
      form#treatment(target="_blank",action="#{glblprefix}/landscape/treatment", method="post")
        input#geojson(type='text', name="geojson")
      //- patch_url is from index.js: router     route : GET /landscape/homeownermng/:geojson_id
      form#patch( action="#{patch_url}", method="post")
        input(type="text", name="geojson")
block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="#{glblprefix}/underscorejs/underscore-min.js")
  script(src="#{glblprefix}/js/backbone-min.js")
  //- mapcover depends on backbone.js and underscore.js
  script(src="#{glblprefix}/assets/mapcover/js/mapcover.js")
  script(src="#{glblprefix}/js/landscape/DeleteMenu.js")
  //- script(src="#{glblprefix}/js/landscape/homeownermng.js" , data-glblprefix=glblprefix, id="homeownermng-src")
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js")
  script(src="#{glblprefix}/js/landscape/polygonManagerApp.js", data-glblprefix=glblprefix)
  script(src="#{glblprefix}/js/landscape/pmaService.js", data-glblprefix=glblprefix)


