extends ../layout

block additionalCSS

block renderBody
  .container
    .divide50
    .row
      //- content
      -var targets = ["#instruction-signup", "#instruction-signin","#instruction-drawpolygon","#instruction-removearea","#instruction-editshape","#instruction-settreatmeent","#instruction-productresult"];
      -var steps = ["Sign Up", "Sign In", "Draw Polygon", "Remove Area", "Edit Shape", "Set Treatment", "Products Result"];
      nav#myScrollspy.col-sm-3
        ul.nav.nav-pills.nav-stacked(data-spy='affix', data-offset-top='0')
          each val, index in targets
            li
              a(href=val)=steps[index]
      //- tutorial body
      .col-xs-9
        h3 Instructions on How to Use Landscape Management
        p Here we will go through the process from creating one account to saving a polygon on map

        p#instruction-signup If you have not created one account with FASIDS, first thing is a simple
          a(href="#{glblprefix}/users/signup" target="_blank") registration.
        a(href="#{glblprefix}/users/signup" target="_blank")
          img.img-responsive(src="#{glblprefix}/img/procedures/01registration.jpg" , alt="registration")
        .divide50
        p#instruction-signin  After you having an account. Please
          a(href="#{glblprefix}/users/signin" target="_blank") sign yourself in.
        a(href="#{glblprefix}/users/signin" target="_blank")
          img.img-responsive(src="#{glblprefix}/img/procedures/02signin.jpg" , alt="signin")
        .divide50
        p#instruction-drawpolygon  Go to landscape section, click "Draw Polygon" on map.
        img.img-responsive(src="#{glblprefix}/img/procedures/03drawpolygon.jpg"  alt="draw polygon")
        .divide50
        p#instruction-removearea  You can remove some area from the marked area by using "Remove Area"
        img.img-responsive(src="#{glblprefix}/img/procedures/04removearea.jpg" , alt="remove area")
        .divide50
        p#instruction-editshape  You can also adjust the area, by clicking "Edit Shape" button. For example, you might move some vertice or cancel entire subroute.
        img.img-responsive(src="#{glblprefix}/img/procedures/05editshape.jpg" ,  alt="edit shape")
        .divide50
        p#instruction-settreatmeent
          | After you feel that shape of the polygon is good, you click "Set Treatment" on map. Set the land usage type, Treatment type and so on.
          | Then you click Finish Preparation
        img.img-responsive(src="#{glblprefix}/img/procedures/06settreatment.jpg" , alt="set Treatment")
        .divide50
        p#instruction-productresult  Click "Save &amp; See Result". You will be prompted to page showing product results.
        img.img-responsive(src="#{glblprefix}/img/procedures/08productresult.jpg" ,alt="product result1")
        img.img-responsive(src="#{glblprefix}/img/procedures/08productresult2.jpg" ,alt="product result2")

        .divide50
        p#instruction-dashboard To retrieve the polygon you have saved, click your name on right top corner, click user dashboard. Then scroll down, you will see polygon just created.
        img.img-responsive(src="#{glblprefix}/img/procedures/09userdashboard.png" ,alt="where is dashboard")
        img.img-responsive(src="#{glblprefix}/img/procedures/10polygonInDashboard.jpg" ,alt="polygon in dashboard")
        .divide50
block additionalJS
  script.
    var navbarHt = $("div.navbar.navbar-default").height();
    $('body').scrollspy({
      offset: navbarHt +5
    });
    $(function() {
      $('a[href*="#"]:not([href="#"])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html, body').animate({
              scrollTop: target.offset().top - navbarHt
            }, 500);
            return false;
          }
        }
      });
    });