extends ../layout

block additionalCSS
  //- I just share the use of this homeownermng.less
  link(href='#{glblprefix}/css/landscape/homeownermng.css', rel='stylesheet', type='text/css', media='screen')
  script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.min.js')
  meta#target-polygon(name="target-polygon", content="#{JSON.stringify(geojson)}")
  meta#productsJson(name="products", content="#{JSON.stringify(products)}")
  script(type="text/javascript").
    var model = {};
    var sortFireAntProduct = angular.module("sortFireAntProduct", [])
    .filter('toFeet', function () {
      return function (input) {
        return input * 10.7639;
      }
    })
    .filter('toFixed', function () {
      return function (input, numberOfDecimal) {
        if (typeof input !== 'number') {
          return "toFixed filter only accepts number";
        }
        return input.toFixed(numberOfDecimal);
      };
    });
    // get data    
    var data = JSON.parse(document.getElementById("productsJson").getAttribute("content"));
    model.items = data;
    model.items.forEach(function(oneItem, idx, arra) {
      if (oneItem.hasOwnProperty("coverage")) {
        oneItem.coverageToBeSorted = new Number(oneItem.coverage);
      }
      if (oneItem.coverage) {
        oneItem.coverageOriginal = new Number(oneItem.coverage)
        switch (oneItem.usage) {
          case "imt":
            oneItem.coverage = oneItem.coverage + " mnds";
            break;
          case "broadcast":
            oneItem.coverage = (oneItem.coverage * 10.7639).toFixed(2) + " ";
            break;
          case "broadcastimt":
            oneItem.coverage = "Undecided conversion strategy";
          default:
            oneItem.coverage = "unknow unit due to unknow usage";
        }
      } else {
        oneItem.coverage = "No Data";
      }
    });

    sortFireAntProduct.controller("FAPrdtSortCtrl", function($scope) {
      $scope.sortType = 'product_name'; // set the default sort type
      $scope.sortReverse = false; // set the default sort order
      $scope.FireAntProduct = model;
    });
    sortFireAntProduct.controller("summaryOfGeojsonCtrl", function ($scope){
      $scope.geoJson = JSON.parse(document.getElementById("target-polygon").getAttribute("content"));
    })
block renderBody
  include ../snippets/breadcrum
  div.hide#productsJsonDiv=products
  .container(ng-app="sortFireAntProduct", ng-cloak)
    //- following class should 400 px height
    .divide30
    .mapcontainer#mapcontainer
    //- .debugger= JSON.stringify(products)
    .divide30
    hr
    .row.situation-summary(ng-controller="summaryOfGeojsonCtrl")

        h4(ng-if="geoJson.properties.usage == 'imt'")
          | Selected 
          a(href="http://fireant.tamu.edu/controlmethods/twostep/", target="_blank") Individual Mound Treatment 
          | Method
        h4(ng-if="geoJson.properties.usage == 'broadcast'")
          | Selected 
          a(href="http://fireant.tamu.edu/controlmethods/twostep/", target="_blank") Broadcast 
          | Method
        p Type of use of the land: {{geoJson.properties.type_of_use}}
        p Control method / control strategy: {{geoJson.properties.control_method}}
        p 
          | The total area is {{ geoJson.properties.total_area | toFeet |toFixed:2 }} ft
          sup 2
        //- is_outdoor: Boolean,
        //- need_organic: Boolean,
        //- need_safe_for_pets: Boolean,
        div(ng-if="geoJson.properties.is_outdoor || geoJson.properties.need_organic || geoJson.properties.need_safe_for_pets")
          span.label.label-default.margin-right-10(ng-show="geoJson.properties.is_outdoor")  Outdoor land
          span.label.label-default.margin-right-10(ng-show="geoJson.properties.need_organic")  Organic product
          span.label.label-default.margin-right-10(ng-show="geoJson.properties.need_safe_for_pets")  Safe for pets

        //- if geojson.properties.treatment && geojson.properties.treatment.toLowerCase() === "imt"
        //-   p 
        //-     | Mound density is #{geojson.convertMoundDensityIntoFt()} / ft
        //-     sup 2
        //-   p Estimated there are #{geojson.getMoundsNum()} mounds.

    hr
    .comparison-table-container
      .row(ng-controller='FAPrdtSortCtrl')
        .col-xs-12
          h4(ng-if="!(FireAntProduct.items && FireAntProduct.items.length > 0)") No fire ant product fits the requirement
          table.table.table-striped.table-bordered(ng-if="FireAntProduct.items && FireAntProduct.items.length > 0")
            thead
              tr
                th Product Page
                th
                  a.productth( ng-click="sortType='product_name'; sortReverse=!sortReverse")
                    | Product Name
                    span.fa.fa-caret-down(ng-show="sortType === 'product_name' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'product_name' && sortReverse")
                th
                  a.productth( ng-click="sortType='manufacturer'; sortReverse=!sortReverse")
                    | Brand
                    span.fa.fa-caret-down(ng-show="sortType === 'manufacturer' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'manufacturer' && sortReverse")
                th Usage
                th
                  a.productth( ng-click="sortType='control_method'; sortReverse=!sortReverse")
                    | Control Method
                    span.fa.fa-caret-down(ng-show="sortType === 'control_method' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'control_method' && sortReverse")
                th
                  a.productth( ng-click="sortType='coverageOriginal'; sortReverse=!sortReverse")
                    | Coverage
                    span.fa.fa-caret-down(ng-show="sortType === 'coverageOriginal' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'coverageOriginal' && sortReverse")
                th
                  a.productth(ng-click="sortType='amount'; sortReverse=!sortReverse")
                    | Amount
                    span.fa.fa-caret-down(ng-show="sortType === 'amount' && !sortReverse")
                    span.fa.fa-caret-up(ng-show="sortType === 'amount' && sortReverse")
            tbody
              tr(ng-repeat="roll in FireAntProduct.items | orderBy:sortType:sortReverse")
                td
                  a(ng-href='{{roll.product_url}}', target='_blank')
                    img.img-thumbnail(ng-src="{{roll.img_small_url || 'http://www.homedepot.com/HFApp/static/global/images/desktop/thd-logo.png'}}", alt='product_img')
                td {{roll.product_name}}
                td {{roll.manufacturer}}
                td {{roll.usage}}
                td {{roll.control_method}}
                td 
                  | {{roll.coverage}}
                  span(ng-show="roll.usage === 'broadcast'") 
                   | ft
                   sup 2 
                td {{roll.amount | toFixed:2}}


block additionalJS
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyA7z3meKGq4cAqC5iziMLVXuHPtwrFdIcY&libraries=geometry')
  script(src="#{glblprefix}/underscorejs/underscore-min.js")
  script(src="#{glblprefix}/js/backbone-min.js")
  script(src="#{glblprefix}/js/landscape/treatment.js" )