extends ../layout

block additionalCSS

  link(href='#{glblprefix}/assets/editablemarkdown/css/font-awesome.css', rel='stylesheet')
  link(rel='stylesheet', href='#{glblprefix}/assets/editablemarkdown/hallo.css')
  link(type='text/css', href='#{glblprefix}/assets/editablemarkdown/jquery-ui-1.8.16.custom.css', rel='stylesheet')

block renderBody
  .divide60
  .container
    .row
      .col-xs-10.col-xs-offset-1
        if (typeof post === "undefined")
          article
            .editable

              h1 Admins can post blog on FASIDS using MARKDOWN, powered by Hallo.js
              p
                a(href='http://hallojs.org/hallo/') Hallo
                |  is a a web editor solution. The blog post editor works like this, you can type your markdown below, and the preview will be displayed here instantly.
              p
                | To begin type in Markdown, People are suggested to know a little about markdown. Please follow 
                a(href='https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet') this link
              p For example: 
              p
                em Italic
                |  will be displayed using *Italic text here*
              p
                strong Bold:
                |  will be displayed using  **Text you want to make bold here**
          hr
          form(method="post" id="blogpost-form")
            .form-group
              label#title-label(for='exampleInputEmail1') 
                span(style="color:red;") * 
                | Post Ttitle

              input.form-control(type='text',name="post_title", placeholder='Post title')


            textarea#source(name="content")
            .divide15
            button.btn.btn-theme-bg(type="submit") Publish
        else
          article
            .editable
          hr
          form(method="post" id="blogpost-form")
            .form-group
              label#title-label(for='exampleInputEmail1') 
                span(style="color:red;") * 
                | Post title
              input.form-control(type='text',name="post_title", placeholder='Post title', value=post.post_title )
            textarea#source(name="content")
              | #{post.content}
            .divide15
            button.btn.btn-theme-bg.margin-right-10(type="submit") Update
            a.btn.border-black(href="../singlepost/#{post.url_title}") Go To BlogPost
  .divide60



block additionalJS
  script(type='text/javascript', src='#{glblprefix}/assets/editablemarkdown/jquery-ui-1.10.0.custom.min.js')
  script(type='text/javascript', src='#{glblprefix}/assets/editablemarkdown/rangy-core-1.2.3.js')
  
  script(type='text/javascript', src='#{glblprefix}/assets/editablemarkdown/hallo.js')

  script(src='#{glblprefix}/assets/editablemarkdown/showdown.js')
  script(src='#{glblprefix}/assets/editablemarkdown/to-markdown.js')
  script(src='#{glblprefix}/assets/editablemarkdown/editor.js')

