//- Thie view file has ability to adjust it self for account module

extends ../layout

block additionalCSS
  link(href='#{glblprefix}/css/users/index.css', rel='stylesheet', type='text/css', media='screen')
  script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js", type="text/javascript")
  script(src="#{glblprefix}/assets/ui-validate/dist/validate.js", type="text/javascript")
  
  

block renderBody
  -var active_section = "account"
  include ../snippets/sub-nav.jade
  include ../snippets/infobox

  .divide30
  .container
    .row
      .col-xs-3
        ul.sidenav-list
          li(class='#{active_subsection==="basic_info"?"active":""}')
            a(href="#{glblprefix}/users/account/basic_info") Basic info
          li(class='#{active_subsection==="security"?"active":""}')
            a(href="#{glblprefix}/users/account/security") Security
      .col-xs-9#angular_forms(ng-app="account_ng", ng-controller="account_ctrl")
        case active_subsection
          when "basic_info"
            .panel.panel-default
              .panel-heading
                | Basic Info
              .panel-body
                form( action="#{glblprefix}/users/account/basic_info", method="post")
                  .row
                    .col-xs-3.text-right
                      label(for='email') Email address
                    .col-xs-5
                      input#email.form-control(type='email', placeholder='Email', name="email", ng-model="user.email" ,required)
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for='first_name') First name
                    .col-xs-5
                      input#first_name.form-control(type='text', placeholder='first name', name="first_name", ng-model="user.first_name", required)
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for='last_name') Last name 
                    .col-xs-5
                      input#last_name.form-control(type='text', placeholder='last name', name="last_name", ng-model="user.last_name", required)
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for="usercat") User category
                    .col-xs-5
                      select#usercat.form-control(name="usercat", ng-model="user.usercat", convert-to-number, required)
                        option(value="0") cat0 
                        option(value="1") cat1 
                        option(value="2") cat2 
                        option(value="3") cat3 
                        option(value="4") cat4 
                  hr
                  .row
                    .col-xs-2.col-xs-offset-9
                      button.btn.btn-primary(type='submit') Update Info
          when "security"
            .panel.panel-default
              .panel-heading
                | Change Your Passsord
              .panel-body

                form(action="#{glblprefix}/users/account/security" ,name ="password_form", method="post")
                  .row
                    .col-xs-3.text-right
                      label(for='old_password') Old password
                      span.red *
                    .col-xs-5
                      input#old_password.form-control(type='password', name="old_password", ng-required="true", ng-model="old_password")
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for='password') New password
                      span.red *
                    .col-xs-5
                      input#password.form-control(type='password', name="password_hash", required, ng-model="password_hash")
                  .divide20
                  .row
                    .col-xs-3.text-right
                      label(for='confirm_password') New password again
                      span.red * 
                    .col-xs-5
                      input#confirm_password.form-control(type='password', name="confirm_password_hash", ng-model="confirm_password_hash", required ,
                      ui-validate=" '$value===password_hash' ", ui-validate-watch=" 'password_hash' ")

                      span.red(ng-show="password_form.confirm_password_hash.$error.validator") passwords do not match!
                  .divide20
                  .row
                    .col-xs-2.col-xs-offset-9
                      button.btn.btn-primary(type='submit' ng-disabled="!password_form.$valid") Update Password
            .divide30
            .panel.panel-default
              .panel-heading
                | Reset Your Password
              .panel-body
                form(action="#{glblprefix}/users/account/reset_password", name="reset_password_form", method="post")
                  .row
                    .col-xs-3.text-right Security email
                    .col-xs-5
                      input.form-control(type="text" ,name="email", ng-model="user.email", disabled)
                    .col-xs-4.email-sent-result(ng-show="email_result_returned")
                      | result

                  .divide20
                  .row
                    .col-xs-2.col-xs-offset-9
                      button.btn.btn-primary(type='submit') Send Email

  div.hidden
    meta(name="user", content="#{JSON.stringify(user)}")
  .divide30

block additionalJS
  script(src="#{glblprefix}/js/users/account.js", type="text/javascript")

