extends ../layout
block additionalCSS
  link(href='#{glblprefix}/css/users/index.css', rel='stylesheet', type='text/css', media='screen')    

block renderBody
  // following .container is just for subnav container
  -var active_section = "dashboard"
  include ../snippets/sub-nav.jade
  .container
    .divide30
    .row
      .col-md-3
        .panel.panel-default
          .row
            .col-xs-12
              a.thumbnail(href='#')
                img(data-src='holder.js/100%x180', alt='100%x180', src='data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9InllcyI/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTcxIiBoZWlnaHQ9IjE4MCIgdmlld0JveD0iMCAwIDE3MSAxODAiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjwhLS0KU291cmNlIFVSTDogaG9sZGVyLmpzLzEwMCV4MTgwCkNyZWF0ZWQgd2l0aCBIb2xkZXIuanMgMi42LjAuCkxlYXJuIG1vcmUgYXQgaHR0cDovL2hvbGRlcmpzLmNvbQooYykgMjAxMi0yMDE1IEl2YW4gTWFsb3BpbnNreSAtIGh0dHA6Ly9pbXNreS5jbwotLT48ZGVmcz48c3R5bGUgdHlwZT0idGV4dC9jc3MiPjwhW0NEQVRBWyNob2xkZXJfMTUwZGRhZTY1MDkgdGV4dCB7IGZpbGw6I0FBQUFBQTtmb250LXdlaWdodDpib2xkO2ZvbnQtZmFtaWx5OkFyaWFsLCBIZWx2ZXRpY2EsIE9wZW4gU2Fucywgc2Fucy1zZXJpZiwgbW9ub3NwYWNlO2ZvbnQtc2l6ZToxMHB0IH0gXV0+PC9zdHlsZT48L2RlZnM+PGcgaWQ9ImhvbGRlcl8xNTBkZGFlNjUwOSI+PHJlY3Qgd2lkdGg9IjE3MSIgaGVpZ2h0PSIxODAiIGZpbGw9IiNFRUVFRUUiLz48Zz48dGV4dCB4PSI1OS41NjI1IiB5PSI5NC41Ij4xNzF4MTgwPC90ZXh0PjwvZz48L2c+PC9zdmc+', data-holder-rendered='true', style='height: 180px; width: 110%; display: block;')


          .panel-body.text-center
            h4=user.display_name
            //- p
            //-   a(href="#") View Account
            //-   br
            //-   a(href="#{glblprefix}/users/account/basic_info") Edit Account



      .col-md-9
        .panel.panel-default
          .panel-heading
            | Notifications
            span.badge 0
          .panel-body
            .row
              .col-xs-12
                | you currently have 0 nitification. (The internal notifition section is under implement)
        .panel.panel-default
          .panel-heading
            | Message
            span.badge 0
          .panel-body
            .row
              .col-xs-12
                | When you message hosts or send reservation requests, you'll see their response here.(The internal messenger section is under implement)
        if questions.length >0
          .panel.panel-default
            .panel-heading
              | Your Questions
              span.badge=questions.length
            .panel-body
              table.table.table-striped
                thead
                  tr
                    th #
                    th Title
                    th Viewed
                    th Answered
                    th Votes
                    th Stars
                tbody
                  each question, index in questions
                    tr
                      th(scope='row')=index+1
                      td
                        a(href="#{glblprefix}/qa/question?qid=#{question._id.toString()}")
                          b=question.post_title
                      td=question.post_viewed
                      td=question.replied_post
                      td=question.votes
                      td=question.stars
        if answers.length>0
          .panel.panel-default
            .panel-heading
              | Your Answers
              span.badge=answers.length
            .panel-body
              table.table.table-striped
                thead
                  tr
                    th #
                    th Reply To
                    th Votes
                    th Stars
                tbody
                  each answer , index in answers
                    tr
                      th(scope='row')=index+1
                      td
                        | Reply To : 
                        a(href="#{glblprefix}/qa/question?qid=#{answer.reply_to_mainpost._id.toString()}#reply-#{answer._id.toString()}")
                          b=answer.reply_to_mainpost.post_title
                      td=answer.votes
                      td=answer.stars
                    
        .panel.panel-default
          .panel-heading
            | Geojson Polygons
            span.badge=polygons.length
          .panel-body
            each db_polygon , index in polygons 
              .row.polygon-row-dashboard
                .col-xs-3.polygon-preview Preview Pic here
                .col-xs-4=db_polygon.properties.polygon_name?db_polygon.properties.polygon_name:"No Available Name yet"
                .col-xs-5.text-right.polygon-operations
                  a(href="#{glblprefix}/landscape/homeownermng/#{db_polygon._id}")
                    span.fa.fa-map-o.fa-lg
                    | &nbsp; Edit

                  a.http-action-link(href="#{glblprefix}/landscape/homeownermng/#{db_polygon._id}", data-http-method="delete" ) 
                    span.fa.fa-remove.fa-lg
                    | &nbsp; Delete
              .divide20



  .hidden
    form.http-action-form


  
block additionalJS
  script(src="#{glblprefix}/js/users/dashboard.js" )